<%#
//----------------------------------------------------
// Index
//----------------------------------------------------
%>
<!DOCTYPE html>
<html lang="ja">
<%- include("/config/_head") %>
<body class="<%= site.class %><% for (classes_item of classes) { %> <%= classes_item %><% } %>" ontouchstart>

<%- include("/header") %>

<!-- + Main -->
<main class="section is-main" id="main">
  <section class="section is-content">
    <div class="inner">
      <h2>Index Title Main</h2>
    </div>
  </section>
</main>
<!-- - Main -->

<%- include("/footer") %>

<%- include("/config/_script") %>
</body>
</html>