<%#
//----------------------------------------------------
// Head
//----------------------------------------------------
%>
<head>
<%
  dateNow = Date.now();
  dateNowYear = new Date().getFullYear()
%>
<meta charset="UTF-8">
<% if (id === "index") { %>
<title><%= site.title %></title>
<% } else { %>
<title><%= title %> - <%= site.title %></title>
<% } %>
<meta name="description" content="<%= desc %>">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta name="format-detection" content="telephone=no, email=no, address=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<%#
//----------------------------------------------------
// / Open Graph
//----------------------------------------------------
%>

<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= desc %>">
<meta property="og:url" content="<%= site.url %>/<%= url %>">
<meta property="og:image" content="<%= site.url %>/<%= path.img %>/<%= ogimg %>?ver=<%= dateNow %>">
<meta property="og:site_name" content="<%= site.title %>">
<meta property="og:type" content="<%= ogtype %>">

<%#
//----------------------------------------------------
// / Twitter
//----------------------------------------------------
%>

<meta name="twitter:card" content="<%= twcard %>">
<% if (social.twitter.id) { %>
  <meta name="twitter:creator" content="@<%= social.twitter.id %>">
<% } %>

<%#
//----------------------------------------------------
// / Theme Color
//----------------------------------------------------
%>

<% if (site.color) { %>
  <meta name="theme-color" content="<%= site.color %>">
<% } %>

<%#
//----------------------------------------------------
// / Apple Mobile Web APP
//----------------------------------------------------
%>

<% if (apple_mobile_web_app.mode === true) { %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="<%= apple_mobile_web_app.status_bar_style %>">
  <meta name="apple-mobile-web-app-title" content="<%= apple_mobile_web_app.title %>">
<% } %>

<%#
//----------------------------------------------------
// / CDN
//----------------------------------------------------
%>

<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css"> %>
<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp_s.min.css"> %>
<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanmp.min.css"> %>
<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanmp_s.min.css"> %>
<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp.min.css"> %>
<%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp_s.min.css"> %>
<%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700,900"> %>
<%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&amp;subset=japanese"> %>
<%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&amp;subset=japanese"> %>
<%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&amp;subset=japanese"> %>
<%# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> %>
<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> %>
<%# <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> %>

<%#
//----------------------------------------------------
// / Stylesheet
//----------------------------------------------------
%>

<link rel="stylesheet" href="<%= climb %><%= path.css %>/project.min.css?ver=<%= dateNow %>">

<%#
//----------------------------------------------------
// / CDN
//----------------------------------------------------
%>

<link rel="apple-touch-icon" href="<%= climb %><%= path.img %>/apple-touch-icon.png?ver=<%= dateNow %>">
<link rel="icon" href="<%= climb %><%= path.img %>/favicon.png?ver=<%= dateNow %>">

</head>